body {
    text-align: center;
}

button {
    margin: 5px 0 20px 0;
}

button.fancy {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}
button.fancy:active {
    margin: 15px 0 10px 10px;
    box-shadow: 0 0 5px #888;
}

button.invisible {
    color: white;
    border: none;
    background-color: white;
    left: 32px;
    bottom: 45px;
    position: absolute;
}

button.jumpy {
    left: 0px;
    top: 45px;
    position: absolute;
}